.contenu {

  width: 30%;

  display: inline-block;

vertical-align: top;
margin-left: 1.5%;
margin-right: 1.5%;
  height: 600px;
text-align: justify;
}

/*align à faire
taille des images
modifier le logo
*/

.logo {
	display: inline-block;
	width: 300px;

}

.slogan {
	font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
	line-height: 1.5;
	font-size: 3em;
	width: 600px;
	text-align: right;
	margin-left: 20%;

}

#header {
	background-color: #0000d5;
	background-image: linear-gradient(to right, red, orange, yellow, green, blue, indigo,
		violet);
	height: 60px;
	padding: 0 16px;

}

.main-nav-link {
	color: white;
	
}

#main-nav-list {
	list-style-type: none;
	

}

#main-nav-list li {
	display: inline;
}

.titre {
	font-family: "Comic Sans MS";
	line-height: 1.5;
	font-size: 3em;
	text-align: center;
}